.main-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: hsl(207, 59%, 62%);
    text-align: center;
    opacity: 0.9;

    background-image: url(../images/wallhaven-6ql7el.jpg);
}


.main-footer .tlbdes {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-weight: bold;
    padding: 10px;
}

.main-footer h3 {
    color: hsl(25, 59%, 20%);
    /* font-weight: bolder; */
}

body{
    margin: 0px;
}

main{
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f0f0f0;
    /* border-radius: 20px; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* opacity: 0.3px; */

    background-image: url(../images/wallhaven-6ql7el.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.login-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(177, 55%, 54%);

    opacity: 0.9;
    background-image: url(../images/wallhaven-6ql7el.jpg);
    /* background-position: center; */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

form{
    display: flex;
    flex-direction: column;
    
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    padding: 10px;
    background-color: #0070ba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #005d9a;
}


